Web References/DBHelp/DBHelp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GZipDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GZipDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GZipDataSetResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteNonQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteNonQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteNonQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteScalar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteScalarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteScalarResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecutePRC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prcname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="outprmname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inprams" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecutePRCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecutePRCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GZipExecutePRCDS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prcname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="outprams" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intprams" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GZipExecutePRCDSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GZipExecutePRCDSResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecutePRCDS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prcname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="outprams" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intprams" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecutePRCDSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecutePRCDSResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tablename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDataSetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GZipUpdateDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tablename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GZipUpdateDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GZipUpdateDataSetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserValidate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserValidateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteDataSet" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="GZipDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GZipDataSet" />
  </wsdl:message>
  <wsdl:message name="GZipDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GZipDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteNonQuerySoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteNonQuery" />
  </wsdl:message>
  <wsdl:message name="ExecuteNonQuerySoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteScalarSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteScalar" />
  </wsdl:message>
  <wsdl:message name="ExecuteScalarSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteScalarResponse" />
  </wsdl:message>
  <wsdl:message name="ExecutePRCSoapIn">
    <wsdl:part name="parameters" element="tns:ExecutePRC" />
  </wsdl:message>
  <wsdl:message name="ExecutePRCSoapOut">
    <wsdl:part name="parameters" element="tns:ExecutePRCResponse" />
  </wsdl:message>
  <wsdl:message name="GZipExecutePRCDSSoapIn">
    <wsdl:part name="parameters" element="tns:GZipExecutePRCDS" />
  </wsdl:message>
  <wsdl:message name="GZipExecutePRCDSSoapOut">
    <wsdl:part name="parameters" element="tns:GZipExecutePRCDSResponse" />
  </wsdl:message>
  <wsdl:message name="ExecutePRCDSSoapIn">
    <wsdl:part name="parameters" element="tns:ExecutePRCDS" />
  </wsdl:message>
  <wsdl:message name="ExecutePRCDSSoapOut">
    <wsdl:part name="parameters" element="tns:ExecutePRCDSResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDataSet" />
  </wsdl:message>
  <wsdl:message name="UpdateDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="GZipUpdateDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GZipUpdateDataSet" />
  </wsdl:message>
  <wsdl:message name="GZipUpdateDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GZipUpdateDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="UserValidateSoapIn">
    <wsdl:part name="parameters" element="tns:UserValidate" />
  </wsdl:message>
  <wsdl:message name="UserValidateSoapOut">
    <wsdl:part name="parameters" element="tns:UserValidateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="DBHelpSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSet">
      <wsdl:input message="tns:ExecuteDataSetSoapIn" />
      <wsdl:output message="tns:ExecuteDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GZipDataSet">
      <wsdl:input message="tns:GZipDataSetSoapIn" />
      <wsdl:output message="tns:GZipDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <wsdl:input message="tns:ExecuteNonQuerySoapIn" />
      <wsdl:output message="tns:ExecuteNonQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteScalar">
      <wsdl:input message="tns:ExecuteScalarSoapIn" />
      <wsdl:output message="tns:ExecuteScalarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecutePRC">
      <wsdl:input message="tns:ExecutePRCSoapIn" />
      <wsdl:output message="tns:ExecutePRCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GZipExecutePRCDS">
      <wsdl:input message="tns:GZipExecutePRCDSSoapIn" />
      <wsdl:output message="tns:GZipExecutePRCDSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecutePRCDS">
      <wsdl:input message="tns:ExecutePRCDSSoapIn" />
      <wsdl:output message="tns:ExecutePRCDSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDataSet">
      <wsdl:input message="tns:UpdateDataSetSoapIn" />
      <wsdl:output message="tns:UpdateDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GZipUpdateDataSet">
      <wsdl:input message="tns:GZipUpdateDataSetSoapIn" />
      <wsdl:output message="tns:GZipUpdateDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserValidate">
      <wsdl:input message="tns:UserValidateSoapIn" />
      <wsdl:output message="tns:UserValidateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DBHelpSoap" type="tns:DBHelpSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSet">
      <soap:operation soapAction="http://tempuri.org/ExecuteDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GZipDataSet">
      <soap:operation soapAction="http://tempuri.org/GZipDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <soap:operation soapAction="http://tempuri.org/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteScalar">
      <soap:operation soapAction="http://tempuri.org/ExecuteScalar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecutePRC">
      <soap:operation soapAction="http://tempuri.org/ExecutePRC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GZipExecutePRCDS">
      <soap:operation soapAction="http://tempuri.org/GZipExecutePRCDS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecutePRCDS">
      <soap:operation soapAction="http://tempuri.org/ExecutePRCDS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDataSet">
      <soap:operation soapAction="http://tempuri.org/UpdateDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GZipUpdateDataSet">
      <soap:operation soapAction="http://tempuri.org/GZipUpdateDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserValidate">
      <soap:operation soapAction="http://tempuri.org/UserValidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DBHelpSoap12" type="tns:DBHelpSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSet">
      <soap12:operation soapAction="http://tempuri.org/ExecuteDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GZipDataSet">
      <soap12:operation soapAction="http://tempuri.org/GZipDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <soap12:operation soapAction="http://tempuri.org/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteScalar">
      <soap12:operation soapAction="http://tempuri.org/ExecuteScalar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecutePRC">
      <soap12:operation soapAction="http://tempuri.org/ExecutePRC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GZipExecutePRCDS">
      <soap12:operation soapAction="http://tempuri.org/GZipExecutePRCDS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecutePRCDS">
      <soap12:operation soapAction="http://tempuri.org/ExecutePRCDS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDataSet">
      <soap12:operation soapAction="http://tempuri.org/UpdateDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GZipUpdateDataSet">
      <soap12:operation soapAction="http://tempuri.org/GZipUpdateDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserValidate">
      <soap12:operation soapAction="http://tempuri.org/UserValidate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBHelp">
    <wsdl:port name="DBHelpSoap" binding="tns:DBHelpSoap">
      <soap:address location="http://localhost:3644/DBHelp.asmx" />
    </wsdl:port>
    <wsdl:port name="DBHelpSoap12" binding="tns:DBHelpSoap12">
      <soap12:address location="http://localhost:3644/DBHelp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>